*, *::after, *::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

html {
    height: 100vh;
    background-color: darkgrey;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    border: solid orange;
    height: 100px;
}

main {
    border: solid red;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
    "weather temp"
    "forecast forecast";
}

.weatherArea {
    border: solid blue;
    grid-area: weather;
    display: flex;
    align-items: flex-start;

}

.weatherBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black;
    padding: 50px;
    text-align: left;
}

.weatherArea h1 {
    font-size: 3rem;
}

.weatherBox img {
    width: 100px;
}

.tempArea {
    border: solid purple;
    grid-area: temp;
}

.tempBox {
    border: solid green;
}

.tempBox img {
    width: 50px;
}

.forecastArea {
    display: flex;
    border: solid black;
    grid-area: forecast;
    background-color: yellow;
    flex-direction: column;
}

.listArea {
    background-color: green;
    flex: 3;
}

.buttonArea {
    background-color: pink;
    flex: 1;
}

ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(7, 1fr);
    background-color: blueviolet;
    height: 100%;
}

li {
    border: solid black;
}

footer {
    border: solid green;
    height: 50px;
}